<div id="stocks" class="row">

    <div *ngFor="let quote of quoteList;" id="cardTemplate" class="col s12 m6" (notifyList)="reloadQuoteList($event)">
        <div class="card hoverable blue darken-1">
            <div class="card-content white-text">
                <span class="card-title" style="margin-bottom: 0px;">{{quote.name}} ({{quote.symbol}})</span>
                <div id="DateTime">{{quote.lastTradeDate}} - {{quote.lastTradeTime}}</div>

                <div id="LastTradePrice" class="col s6" style="padding-left: 0;font-size: 22px;">{{quote.lastTradePriceOnly}} {{quote.currency}}</div>
                <div id="Change" class="col offset-s2 s2" [style.background-color]="isNegativeValue(quote.change) ? 'red' : 'green'">{{quote.change}}</div>
                <div id="ChangeinPercent" class="col s2">{{quote.changeinPercent}}</div>
            </div>
            <div class="card-action">
                <a href="#">Merken</a>
                <a href="#">Kaufen</a>
            </div>
        </div>
    </div>
</div>
